:root {
    --primary-color: #01e794;
    --secondary-color: #43baff;
    --tertiary-color: #f58236;
    --natural-color: brown;
    --light-color: yellow;
    --dark-color: #353535;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    padding: 0%;
}

header {
    padding: 10px 0;
    display: flex;
}

#logo {
    margin-left: 20px;
    height: 100%;
    width: auto;
}

.bg-dark {
    background-color: #353535;
}

.text-primary {
    color: var(--primary-color);
}

nav {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    flex-direction: column-reverse;
    float: right;
    background-color: inherit;
}

nav li a,
nav li {
    text-decoration: none;
    font-size: 24px;
    list-style-type: none;
    margin-right: 10px;
    color: inherit;
    display: inline-flex;
}

nav a:hover,
nav li:hover {
    color: var(--tertiary-color);
    transition: 0.3s;
}

nav a:active {
    background-color: #01e794;
}

nav a:visited {
    text-decoration: inherit;
}

section {
    padding: 20px 0;
}

section h1 {
    color: var(--primary-color);
}

footer {
    background-color: #353535;
    color: var(--secondary-color);
    padding: 10px 0;
    text-align: center;
    top: auto;
    display: block;
    width: 100%;
    bottom: 0;
    margin-top: 50px;
}

.hero {
    background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url("/src/img/hero.jpg");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: grid;
    position: inherit;
}

.hero-text {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: auto;
    padding: 1.5rem;
}

.hero-button {
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}

.hero-button a {
    text-decoration: none;
    background-color: #01e794;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 50px;
    color: black;
}

.hero-button a:hover {
    background-color: #f58236;
    transition: 0.3s;
    opacity: 1;
    color: var(--natural-color);
}

.features {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;

}

.card {
    margin: 10px;
    position: relative;
    box-shadow: 5px 5px 5px #555, 10px 10px 10px rgb(24, 43, 24);
    transition: 0.3s;
    width: 300px;
    display: inline-block;
}

.card-header {
    background-color: #353535;
    color: var(--primary-color);
    text-align: center;
    padding: 10px;
    min-height: 10px;
}

.card-body {
    background-color: inherit;
    min-width: 200px;
    padding: 10px;
    text-decoration: none;
    height: 100%;
}

.card-footer {
    position: absolute;
    color: var(--secondary-color);
    width: 100%;
    background-color: #353535;
    padding: 5px 10px;
    bottom: 0%;
    margin-top: auto;
}

h1,
h2 {
    color: #333;
}

.container {
    padding: 1.5rem;
    display: inherit;
    flex-wrap: wrap;
}

.sidebar {
    max-width: 200px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: auto;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar a {
    width: 100%;
    display: block;
    color: #510404;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #ddd;
    color: black;
}

#sidebar-content {
    margin-left: 200px;
    padding: 20px;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

button.accordion.active,
button.accordion:hover {
    background-color: #ddd;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;
    transition: 0.4s ease-in-out;
    /* adjust this as per your needs */
}

.collapse {
    max-width: 0px !important;
    transition: 350ms;
    opacity: 0;
    overflow: hidden;

}

.discussion-item {
    margin-bottom: 20px;
}

.question {
    font-weight: bold;
    color: var(--natural-color);
}

.response {
    color: var(--tertiary-color);
    margin-left: 20px;
}

h1 {
    text-align: center;
}

.policy-content {
    max-width: 800px;
    margin: 0 auto;
}
.contact-info {
    max-width: 600px;
    margin: 0 auto;
}
.contact-form {
    max-width: 600px;
    margin: 20px auto;
}
.contact-form input[type="text"],
.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}
.contact-form input[type="submit"] {
    background-color:var(--primary-color);
    color: var(--dark-color);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.contact-form input[type="submit"]:hover {
    background-color:var(--primary-color);
}